Software/Driver/build/
Software/Driver/node_modules/
Software/Client/Node/Library/build/
Software/Client/Node/Library/node_modules/
Software/Client/Node/Node-RED/build/
Software/Client/Node/Node-RED/node_modules/